{% extends "base.html" %}
{% load static %}

{% block title%}Home - diegomoura.dev{% endblock %}

{% block hero %}
    <div class="col-md-12">
        <img class="hero-home" src="{% static 'diegomouradev/img/hero-home.jpg' %}" alt="">
    </div>
{% endblock %}

{% block bio %}
    <div class="row">
        <div class="col-md-4">
            <img src="" alt="">
        </div>
        <div class="col-md-8">
            <h1>Bio</h1>
            <p class="body-light">
                As a Front-End Software Engineer with a background in UI design, digital marketing, 
                email marketing, and project management, I’m enthusiastic about delivering high-quality 
                products and resolving issues with both skill and poise. My hands-on experience with 
                current web technologies, heightened interpersonal skills, and scrupulous attention 
                to detail allow me to complete projects at a high standard of excellence within declared 
                deadlines. I am looking for a placement that will be supportive of my continued growth and experience.
                <em>diegoo.demoura@gmail.com</em>
            </p>
        </div>
    </div>
{% endblock %}

